<div [@routerTransition]>


    <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)">




        <agm-polyline  [title]="'DOT-to-DOT site'"
                       [strokeColor]="'red'">

            <agm-polyline-point *ngFor="let m of markers"
                                [latitude]="m.lat"
                                [longitude]="m.lng">
            </agm-polyline-point>
        </agm-polyline>
    </agm-map>

</div>
