<app-page-header [heading]="'GPS'" [icon]="'fa-map-o'"></app-page-header>
<div class="row">

    <div class="col-md-6">
        <div class="form-group input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" placeholder="Travel Name"
                   [disabled]="running">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" placeholder="Seconds"
                   [(ngModel)]="seconds"
                   [disabled]="running">
            <span class="input-group-addon">.00</span>
        </div>
    </div>



    <div class="col-md-6">
        <fieldset class="form-group">
            <label>Initial Latitude</label>
            <input class="form-control" placeholder="Latitude"
                   [disabled]="running"
                   [(ngModel)]="initialMarker.lat">
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="form-group">
            <label>Initial Longitude</label>
            <input class="form-control" placeholder="Longitude"
                   [disabled]="running"
                   [(ngModel)]="initialMarker.lng">
        </fieldset>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-outline-success" [disabled]="running"
                    (click)="initRute()">Beggin Travel</button>

            <button class="btn btn-outline-danger" *ngIf="running"
                    (click)="endRute()">End Travel</button>

            <button class="btn btn-outline-warning"
                    (click)="clearMarkers()">Clear Markers</button>
        </div>
    </div>
</div>

<hr>

<div [@routerTransition]>
    <agm-map
        [latitude]="initialMarker.lat"
        [longitude]="initialMarker.lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)">

        <agm-marker
            [latitude]="initialMarker.lat"
            [longitude]="initialMarker.lng"
            (dragEnd)="markerDrag($event)"
            [markerDraggable]="initialMarker.draggable">

        </agm-marker>


        <agm-marker *ngFor="let m of markers; let i = index"
                    (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [label]="m.label"
                    [markerDraggable]="m.draggable">
        </agm-marker>

    </agm-map>

</div>
