<app-page-header [heading]="'GPS'" [icon]="'fa-map-o'"></app-page-header>
<div class="row">

    <div class="col-md-6">
        <div class="form-group input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" placeholder="Travel Name">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" placeholder="Seconds"
                   [(ngModel)]="seconds"
                   [disabled]="running">
            <span class="input-group-addon">.00</span>
        </div>
    </div>



    <div class="col-md-6">
        <fieldset class="form-group">
            <label>Initial Latitude</label>
            <input class="form-control" placeholder="Latitude" [(ngModel)]="initialMarker.lat">
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset class="form-group">
            <label>Initial Longitude</label>
            <input class="form-control" placeholder="Longitude" [(ngModel)]="initialMarker.lng">
        </fieldset>
    </div>




    <div class="row">
        <div class="col-xs-12">
            <div class="text-right pull-right">


                <button class="btn btn-outline-success pull-right" [disabled]="running"
                        (click)="initRute()">Beggin Travel</button>

                <button class="btn btn-outline-danger pull-right" *ngIf="running"
                        (click)="endRute()">End Travel</button>

                <button class="btn btn-outline-warning pull-right"
                        (click)="clearMarkers()">Clear Markers</button>
            </div>
        </div>
    </div>


</div>


<div [@routerTransition]>
    <agm-map
        [latitude]="initialMarker.lat"
        [longitude]="initialMarker.lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)">

        <agm-marker
            [latitude]="initialMarker.lat"
            [longitude]="initialMarker.lng"
            (dragEnd)="markerDrag($event)"
            [markerDraggable]="initialMarker.draggable">

        </agm-marker>


        <agm-marker *ngFor="let m of markers; let i = index"
                    (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [label]="m.label"
                    [markerDraggable]="m.draggable">
        </agm-marker>

    </agm-map>

</div>
